<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bottle Watchlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashes">
        {% for message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <h2>Start Your Watchlist</h2>
    <p>To initiate your watchlist, please provide your TMDB username:
      <form method="POST" action="/">
        {{ form.csrf_token }}
        {{ form.name.label }}
        {{ form.name(size=20) }}
        <button name="checkname" type="submit" id="check" class="btn" style="padding: 10.5px 15px">Go!</button>
        <img src="/images/recaptcha.png"> <!-- REPLACE THIS WITH REAL RECAPTCHA -->
      </form>
    </p>
    <p>
    {% if user %}
      Username: {{user.name}}
      Movie List: {{user.movies}}
      Session ID: {{user.session}}
    {% endif %}
    </p>
    <p><small>If you don't have an account or don't have any items in your <a href="http://www.themoviedb.org/">The Movie DB</a> Watchlist, please do so before continuing.  Thanks.</small></p>
  </body>
</html>
